* text=auto
*.go text
*.py text
*.yml text
*.yaml text
*.md text
*.toml text


*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary


examples/python-client-test/** linguist-detectable=true
examples/python-client-test/** linguist-language=Python